header h1 {
    margin: 1.5rem;
    font-family: 'Starjhol';
    font-size: 6rem;
    text-align: center;
    word-break: break-word;
    color: yellow;
}

main {
    height: 100%;
}

.char-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./static/image/dv.jpeg');
    background-size: cover;
    gap: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100%;
}

.char-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(33, 33, 33, 0.9);
}

.search-container {
    display: flex;
    justify-content: center;
    border-width: 1px;
    padding: 1rem 0 1rem 0;
    perspective: 1000px;
    width: 100%;
}

.search-container input {
    width: min(45rem, 80%);
    font-family: 'Starjedi';
    font-size: 1.8rem;
    border-radius: 5px;
    border: solid;
    border-color: gray;
    color: #fff;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #212121;
}

.search-container input:focus {
    outline: none !important;
    border-color: #3B3E37;
    box-shadow: 0 0 10px #3B3E37;
}

.cards-container {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 3rem;
}

.card {
    background-color: transparent;
    width: 23rem;
    height: 30rem;
    perspective: 1000px;
}

.title {
    font-size: 2rem;
    font-family: 'Starjedi';
    font-weight: 900;
    text-align: center;
    margin: 0;
    position: relative;
    top: -2rem;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
}

.card-front {
    background: linear-gradient(120deg, #212121 60%, #40413E 88%,
    #40413E 40%, #E7E360 48%);
    color: white;
}
  
.card-back {
    background: linear-gradient(240deg, #212121  30%, #40413E  88%,
    #40413E 40%, #E7E360  78%);
    color: white;
    transform: rotateY(180deg);
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-content-row {
    padding-bottom: .3rem;
}

.card-content-row span {
    display: block;
    font-size: .9em;
}

.card-content-title {
    font-size: 1em;
    font-weight: bold;
}

.card-content-film-date {
    font-style: italic;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

img {
    width: 5rem;
    height: 5rem;
}

.navigation-container {
    display: flex;
    justify-content: space-evenly;
    perspective: 1000px;
    width: 50%;
    padding-bottom: 5rem;
}

.arrow-previous, .arrow-next {
    width: 6rem;
    height: 6rem;
}

.arrow-next {
    rotate: 180deg;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgba(33, 33, 33, .9);
}

.spinner {
    position: relative;
    top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-logo {
    width: 25rem;
    height: 25rem;
    animation: rotationBack 1s ease-in-out infinite reverse;
}

.spinner-text {
    font-family: 'Starjhol';
    font-size: 2em;
    color: yellow;
}

@keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }

@media (max-width: 2120px) {
    .char-section {
        height: auto;
    }
}

@media (max-width: 514px) {
    html {
        font-size: 50.5%;
    }
}


@font-face {
    font-family: 'Starjedi';
    src: url('./static/fonts/Starjedi.ttf');
}
  
@font-face {
    font-family: 'Starjhol';
    src: url('./static/fonts/Starjhol.ttf');
}