header h1 {
    margin: 1.5rem;
    font-family: 'Starjhol';
    font-size: 6rem;
    text-align: center;
    word-break: break-word;
    color: yellow;
}

main {
    height: 100%;
}

@media (max-width: 2120px) {
    .char-section {
        height: auto;
    }
}

@media (max-width: 514px) {
    html {
        font-size: 50.5%;
    }
}


@font-face {
    font-family: 'Starjedi';
    src: url('./static/fonts/Starjedi.ttf');
}
  
@font-face {
    font-family: 'Starjhol';
    src: url('./static/fonts/Starjhol.ttf');
}